.country{
  background-color: rgb(190, 236, 209);
  border: 3px solid rgb(238, 58, 26);
  margin: 10px;
  padding: 10px;
  color: rgb(54, 46, 46);
  border-radius: 10px;
}

.country img{
  width: 250px;
}
